

<h1 class = "text-center mb-3" style="margin-top: 50px;">{{title}}</h1>

<div class="input-group mb-3"> <input id ="searchBar" type="text" class="form-control" placeholder="Search HDS">
    <div class="input-group-append">
        <button class="btn btn-primary">
            <i class="fas fa-search"></i>
        </button>
    </div>
</div>

 <script>
    $(document).ready(function(){
    $("#searchbar").text = "";
    $("#searchBar").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("a.link-hds").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        }); 
    });
    $("#searchBar2").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("a.link-hds").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    });
    });
</script> 
{{!-- <div class="list-group" id="linkContainer"> --}}
    {{#each HDS}}
        {{#if this.HDS_Name includeZero=true}}
            <a class="link-hds"href = "/{{this.HDS_Name}}" >
            <div class="card mb-3 border-changer">
  <div class="card-body hds-card">
    
    <img class = "img-change"style="float: right; margin: 0px; height:300px; width:300px; object-fit:cover;" src="{{this.Img_tox}}" alt="Loading...">

    <h3 class="card-title">{{this.HDS_Name}}</h3> <br>
    
    <p class="card-text" id="card-summary">
        {{#checkLength this.Summary_tox 120}}
            {{trimString this.Summary_tox}}
        {{else}}
            {{this.Summary_tox}}
        {{/checkLength}}
    </p>
    <br><p class="card-text"><small class="text-muted">Source: Wikipedia.org</small></p>
  </div>
</div>
            </a>
        {{/if}}
    {{/each}}

    
{{!-- </div> --}}